<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список всех пользователей</title>
    <link th:href="@{/css/infocard.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/userIndex.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/product.css}" type="text/css" rel="stylesheet">
    <link th:href="@{/css/footer.css}" type="text/css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="header" style="margin-top: 20px;">
        <div class="left-menu">
            <div >
                <img class="logo" th:src="@{/images/logo.png}">
                </a>
            </div>
        </div>
        <div class="right-menu">
            <p>Добро пожаловать, <span th:text="${#authentication.principal.username}"></span>!</p>
        </div>
    </div>
    <div class="header-menu">
        <div class="userMenu">
            <form method="post" th:action="@{/logout}">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <button class="logbutton" type="submit">Выйти</button>
            </form>
        </div>
    </div>
    <hr>
<h3>Список всех пользователей:</h3>
    <button class="header-button">
        <a href="/admin" type="button">Меню</a>
    </button>
<div style="display: flex; padding: 10px; align-items: center; justify-content: flex-start" class="info-box" th:each="person : ${users}">
    <p style="margin: 0 10px; width: 120px;" th:text="'Логин: ' + ${person.getLogin()}"></p>
    <span><p style="margin: 0 10px; width: 140px; font-weight: bold" th:text="'Роль: ' + ${person.getRole()}"></p></span>
    <form  style="margin: 0 10px;" method="post" th:action="@{/update-role}">
        <input type="hidden" name="id" th:value="${person.getId()}">
        <select style="border-radius: 10px; width: 130px; height: 30px; padding-left: 10px;" name="role">
            <option value="ROLE_USER" th:selected="${person.getRole() == 'ROLE_USER'}">Пользователь</option>
            <option value="ROLE_ADMIN" th:selected="${person.getRole() == 'ROLE_ADMIN'}">Администратор</option>
        </select>
        <button style="color: white; margin-left: 10px; font-size: 14px; min-height: 30px;" class="header-button" type="submit">Изменить роль</button>
        <button class="header-button-delete" style="color: white; margin-left: 10px; font-size: 14px; min-height: 30px;">
            <a th:href="@{/admin/infoUsers/delete/{id}(id=${person.getId()})}">Удаление пользователя</a>
        </button>
    </form>
</div>
</div>
<footer>
    <div class="footerbox">
        <div class="footer-menu">
            <div>
                <img class="logofooter" th:src="@{/images/logofooter.png}">
            </div>
            <div class="right-menu-footer">
                <ul>
                    <li><a href="https://example.com/about-us">О нас</a></li>
                    <li><a href="https://example.com/delivery">Доставка</a></li>
                    <li><a href="tel:123-456-7890">8-800-800-80-80</a></li>
                    <li><a href="https://example.com/mobile-app">Мобильное приложение</a></li>
                </ul>
            </div>
        </div>
        <div class="info">
            2022-2023 Филиппович Станислав Николаевич | Fullstack - разработка на языке Java FSJ-3-22
        </div>
    </div>
</footer>
</body>
</html>