<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Администратор.Информация о товаре</title>
</head>
<body>
<a href="/admin">Назад</a>
<h3>Администратор  </h3>
<h3>Информация о товаре: </h3>
<hr>
<div th:each="product : ${products}">
  <p th:text="'Наименование: ' + ${product.getTitle()}"></p>
  <p th:text="'Описание: ' + ${product.getDescription()}"></p>
  <p th:text="'Цена: ' + ${product.getPrice()}"></p>
  <p th:text="'Cклад: ' + ${product.getWarehouse()}"></p>
  <p th:text="'Продавец: ' + ${product.getSeller()}"></p>
  <p th:text="'Категория: ' + ${product.getCategory().getName()}"></p>
  <a th:href="@{/admin/product/edit/{id}(id=${product.getId()})}">Редактирование товара</a>
  <a th:href="@{/admin/product/delete/{id}(id=${product.getId()})}">Удаление товара</a>
  <hr>
</div>
</body>
</html>