body {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 80vh;
}
.cart-info{
    margin: 0 auto;
}
.cart-info {

}
.cart{
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    width: 1200px;
    height: 230px;
    margin-top: 20px;
}
img{
    width: 150px;
    margin-left: 13px;
    border-radius: 20px;
}
.total{
}
.button-cart{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    margin: 5px;
    color: white;
    font-size: 16px;
    line-height: 20px;
    border: none;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    background-color: #005bff;
}