<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Личный кабинет администратора</title>
  <link th:href="@{/css/userIndex.css}" type="text/css" rel="stylesheet">
  <link th:href="@{/css/product.css}" type="text/css" rel="stylesheet">
  <link th:href="@{/css/footer.css}" type="text/css" rel="stylesheet">
  <link th:href="@{/css/adminIndex.css}" type="text/css" rel="stylesheet">
  <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
  <script src="/webjars/bootstrap/5.2.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <div class="header" style="margin-top: 20px;">
    <div class="left-menu">
      <div >
        <a>
          <img class="logo" th:src="@{/images/logo.png}">
        </a>
      </div>
    </div>
    <div class="right-menu">
      <p>Добро пожаловать, <span th:text="${#authentication.principal.username}"></span>!</p>
    </div>
  </div>
  <div style="display: flex; justify-content: flex-end;">
    <form method="post" th:action="@{/logout}">
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
      <button type="submit" class="btn btn-outline-success">Выйти</button>
    </form>
  </div>
  <hr>
<h4>Личный кабинет администратора:</h4>
<form method="post" th:action="@{/logout}">
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
</form>
  <div style="display: flex; margin-top: 50px;" >
    <form style="margin-left: 10px" method="get" th:action="@{/admin/product/add}">
      <button type="submit" class="btn btn-primary">Добавить товары</button>
    </form>
    <form style="margin-left: 10px" method="get" th:action="@{/admin/infoProduct}">
      <button type="submit" class="btn btn-primary">Товары</button>
    </form>
    <form style="margin-left: 10px" method="get" th:action="@{/admin/orders}">
      <button type="submit" class="btn btn-primary">Заказы</button>
    </form>
    <form style="margin-left: 10px" method="get" th:action="@{/admin/infoUsers}">
      <button type="submit" class="btn btn-primary">Пользователи</button>
    </form>
</div>
</div>
<footer style="height: 178px;">
  <div class="footerbox">
    <div class="footer-menu">
      <div>
        <img class="logofooter" th:src="@{/images/logofooter.png}">
      </div>
      <div class="right-menu-footer">
        <ul style="margin-bottom: 0;">
          <li><a href="#">О нас</a></li>
          <li><a href="#">Доставка</a></li>
          <li><a href="#">8-800-800-80-80</a></li>
          <li><a href="#">Мобильное приложение</a></li>
        </ul>
      </div>
    </div>
    <div class="info">
      2022-2023 Филиппович Станислав Николаевич | Fullstack - разработка на языке Java FSJ-3-22
    </div>
  </div>
</footer>
</body>
</html>