<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Личный кабинет администратора</title>
</head>
<body>
<h1>Личный кабинет администратора</h1>
<form method="post" th:action="@{/logout}">
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
  <button type="submit">Выйти из личного кабинета</button>
</form>
<form method="get" th:action="@{/admin/product/add}">
  <input type="submit" value="Добавить товары">
</form>
<form method="get" th:action="@{/admin/orders}">
  <input type="submit" value="Заказы">
</form>
<form method="get" th:action="@{/admin/infoUsers}">
  <input type="submit" value="Пользователи">
</form>
<form method="get" th:action="@{/admin/infoProduct}">
  <input type="submit" value="Товары">
</form>
</div>
</body>
</html>